body{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 50px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://github.com/pwlive/fullstackwebdevelopment/blob/main/Assignment_01(HTML+CSS)/assets/pexels-maxyne-barcel-10402282%201.png?raw=true');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    
}
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.logo{
    width: 33%;
    margin-left: 50px;
}
ul{
    display: flex;
    gap: 30px;
    width: 33%;
    justify-content: center;

}
a{
    text-decoration: none;
    color: rgb(241, 162, 15);
}
a:hover{
    font-weight: 700;
    color: rgb(251, 48, 82);
}
button{
    background-color: rgb(251, 48, 82);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border: none;
}
button:hover{
    background-color: white;
    color: rgb(251, 48, 82);
    border-radius: 10px;
}
.order-btn{
    width: 33%;
    justify-content: space-between;
    margin-left: 200px;
}
.order-btn button{
    cursor: pointer;
}
.read-button button{
    font-size: x-large;
    padding: 20px 40px;
    cursor: pointer;
}
h1{
    font-size: 60px;
    font-weight: 900;
    color: rgb(249, 181, 54);
    
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-img{
    margin-left: 1100px;
}
